<!doctype html>
<html lang="zh-cn" ng-app="taobaoMVC">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>网上商城列表</title>
	<link href="css/style.css" rel="stylesheet" />
    <!-- enable HTML5 elements in IE -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <script type="text/javascript" src="script/html5.js"></script>
    <![endif]-->
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.jpg" alt="网上商城" title="网上商城" /></a>
			</div>
			<div class="welcome" ng-controller="UserStatus">
				<p>欢迎来到网上商城！ <a ng-href="{{target}}" ng-bind="tips">请[登录]或者[免费注册]</a><a href="#" ng-click="logout()" ng-bind="logoutText"></a></p>
			</div>
		</div>
		<nav class="nav" role="navigation">
			<div class="container">
				<ul class="first">
					<li><a href="index.html">商城首页</a></li>
					<li><a href="cart.html">购物车</a></li>
					<li><a href="afterSales.html">售后服务</a></li>
				</ul>
				<div class="search">
					<form method="post">
						<input type="text" name="searchText" placeholder="请输入查询关键字" ng-model="searchText" />
						<a href="list.html?search={{searchText}}">搜索</a>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<article class="main" role="main" ng-controller="ListShow">
			<!-- 一个分类的产品在一个section内 -->
			<section class="detail">
				<h1>{{titleString}}</h1>
				<ul class="product-list">
					<li ng-repeat="product in products">
						<a href="productDetail.html?id={{product.id}}">
							<img ng-src="{{product.picture}}" alt="{{product.name}}" title="{{product.name}}" />
							<span class="price">￥{{product.price}}</span>
							<span class="name">{{product.name}}</span>
							<!--<span class="configuration"></span>-->
						</a>
					</li>
				</ul>
				<p ng-bind="tips"></p>
				<div class="clear"></div>
			</section>
		</article>
		<aside>
			<section id="classify">
				<h1>所有分类</h1>
				<ul ng-controller="ProductCategory">
					<li ng-repeat="category in categorys">
						<a href="list.html?categoryId={{category.id}}">{{category.name}}</a>
					</li>
				</ul>
			</section>
		</aside>
		<div class="clear"></div>
	</div>
	<footer>
		<div class="container">
			<img src="images/footer.png" />
		</div>
		<p>版权所有：1998－2014 联想官网商城 │ 京ICP备11035381</p>
	</footer>
<script type="text/javascript" src="script/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="script/angular.min.js" ></script>
<script type="text/javascript" src="script/angular-cookies.min.js" ></script>
<script type="text/javascript" src="script/script.js"></script>
<script type="text/javascript">
	$.scrollFixed("#classify");
</script>
</body>
</html>