<!doctype html>
<html lang="zh-cn" ng-app="taobaoMVC">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>联想网上商城</title>
	<link href="css/style.css" rel="stylesheet" />
    <!-- enable HTML5 elements in IE -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <script type="text/javascript" src="script/html5.js"></script>
    <![endif]-->
</head>

<body ng-controller="ManageController">
	<header>
		<nav class="nav" role="navigation">
			<div class="container">
				<h1>网上商城管理系统</h1>
				<div class="welcome manage"><span ng-bind="tips">正在验证身份...</span><a href="#" ng-click="logout()" ng-bind="logoutText"></a></div>
			</div>
		</nav>
	</header>
	<div class="container">
		<article class="main manage" role="main" ng-controller="ProductList">
			<div class="create-category" ng-controller="CreateCategory">
				<a href="javascript:;" ng-click="createToggle()">+&nbsp;添加新分类</a>
				<form ng-show="createFormShow" ng-submit="createCategory()">
					<input type="text" ng-model="categoryName" placeholder="请输入新分类名" required />
					<input type="submit" value="添加"/>
					<a href="javascript:;" ng-click="createToggle()">取消</a>
				</form>
			</div>
			<div class="create-product" ng-controller="CreateProduct">
				<a href="javascript:;" ng-click="createToggle()">+&nbsp;添加新商品</a>
				<form name="createProductForm" id="createProductForm" ng-show="createFormShow" ng-submit="createProduct()" method="post" enctype="multipart/form-data">
					请选择商品分类：
					<input type="hidden" name="token" value="{{token}}" />
					<select name="ProductCategory_Id" ng-controller="ProductCategory">
						<option value="{{category.id}}" ng-repeat="category in categorys">{{$index + 1 + "." + category.name}}</option>
					</select>
					<input type="text" name="Name" placeholder="请输入商品名称" required />
					<input type="text" name="Price" placeholder="请输入商品价格" required />
					<input type="file" name="upfile" required accept="image/*" />
					<input type="submit" value="添加"/>
					<a href="javascript:;" ng-click="createToggle()">取消</a>
				</form>
			</div>
			<!-- 一个分类的产品在一个section内 -->
			<section class="detail manage" ng-repeat="product in products">
				<h1 ng-controller="EditCategory">{{$index + 1 + ".&nbsp;"}}<span class="title">{{product.name}}</span>
					<a href="javascript:;" ng-click="editToggle()">修改分类名称</a>
					<a href="javascript:;" ng-click="deleteToggle()">删除分类</a>
					<form ng-show="editFormShow" ng-submit="editCategory(this.product)">
						<input type="text" ng-model="categoryName" placeholder="请输入新分类名" required />
						<input type="submit" value="修改" />
						<a href="javascript:;" ng-click="editToggle()">取消</a>
					</form>
					<form ng-show="deleteFormShow" ng-submit="deleteCategory(this.product)">
						真的要删除？
						<input type="submit" value="删除" />
						<a href="javascript:;" ng-click="deleteToggle()">取消</a>
					</form>
				</h1>
				<ul class="manage-list">
					<li><span class="list-img">商品图片</span><span class="list-price">商品价格</span><span class="list-name">商品名称</span><span class="list-control">操作</span></li>
					<li ng-repeat="productDetail in product.products">
						<span class="list-img"><img ng-src="{{base + productDetail.picture}}" alt="{{productDetail.name}}" title="{{productDetail.name}}" /></span>
						<span class="list-price">￥{{productDetail.price}}</span>
						<span class="list-name">{{productDetail.name}}</span>
						<span class="list-control" ng-controller="EditProduct">
							<a href="javascript:;" ng-click="editToggle()">修改</a>
							<a href="javascript:;" ng-click="deleteToggle()">删除</a>
							<form name="editProductForm" id="editProductForm{{productDetail.id}}" ng-show="editFormShow" ng-submit="editProduct(productDetail.id)" method="post" enctype="multipart/form-data">
								请选择商品分类：
								<input type="hidden" name="token" value="{{token}}" />
								<select name="ProductCategory_Id" ng-controller="ProductCategory">
									<option value="{{category.id}}" ng-repeat="category in categorys">{{$index + 1 + "." + category.name}}</option>
								</select>
								<input type="text" name="Name" value="{{productDetail.name}}" placeholder="请输入商品名称" required />
								<input type="text" name="Price" value="{{productDetail.price}}" placeholder="请输入商品价格" required />
								<input type="file" name="upfile" required accept="image/*" />
								<input type="submit" value="添加"/>
								<a href="javascript:;" ng-click="editToggle()">取消</a>
							</form>
							<form ng-show="deleteFormShow" ng-submit="deleteProduct(productDetail.id)">
								真的要删除？
								<input type="submit" value="删除" />
								<a href="javascript:;" ng-click="deleteToggle()">取消</a>
							</form>
						</span>
					</li>
				</ul>
			</section>
			
		</article>
		<div class="clear"></div>
	</div>
	<footer>
		<div class="container">
			<img src="images/footer.png" />
		</div>
		<p>版权所有：1998－2014 联想官网商城 │ 京ICP备11035381</p>
	</footer>
<script type="text/javascript" src="script/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="script/angular.min.js" ></script>
<script type="text/javascript" src="script/angular-cookies.min.js" ></script>
<script type="text/javascript" src="script/jquery.form.js" ></script>
<script type="text/javascript" src="script/script.js"></script>
<script type="text/javascript">
</script>
</body>
</html>