<!doctype html>
<html lang="zh-cn" ng-app="taobaoMVC">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>联想网上商城</title>
	<link href="css/style.css" rel="stylesheet" />
    <!-- enable HTML5 elements in IE -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <script type="text/javascript" src="script/html5.js"></script>
    <![endif]-->
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.jpg" alt="网上商城" title="网上商城" /></a>
			</div>
			<div class="welcome" ng-controller="UserStatus">
				<p>欢迎来到网上商城！ <a ng-href="{{target}}" ng-bind="tips">请[登录]或者[免费注册]</a><a href="#" ng-click="logout()" ng-bind="logoutText"></a></p>
			</div>
		</div>
		<nav class="nav" role="navigation">
			<div class="container">
				<ul class="first">
					<li><a href="index.html">商城首页</a></li>
					<li><a href="cart.html">购物车</a></li>
					<li><a href="afterSales.html">售后服务</a></li>
				</ul>
				<div class="search">
					<form method="post">
						<input type="text" name="searchText" placeholder="请输入查询关键字" ng-model="searchText" />
						<a href="list.html?search={{searchText}}">搜索</a>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<article class="main manage" role="main" ng-controller="OrderList">
			<section class="detail">
				<h1>我的订单</h1>
				<ul class="order-list">
					<li ng-repeat="order in orders">
						<div class="title">
							<span class="order-name">收货人:{{order.contact_name}}</span>
							<span class="order-no">联系方式:{{order.contact_phone_no}}</span>
							<span class="order-address">收货地址:{{order.contamct_address}}</span>
						</div>
						<div class="title">
							<span class="order-name">总价:{{order.total_price}}</span>
							<span class="order-no">下单时间：{{order.buy_on}}</span>
							<span class="order-memo">备注:{{order.memo}}</span>
						</div>
						<div class="order-product" ng-repeat="product in order.orderdatails">
							<span class="list-img"><img ng-src="{{base + product.picture}}" alt="{{product.name}}" title="{{product.name}}" /></span>
							<span class="list-name">名称：{{product.name}}</span>
							<span class="list-price">单价：￥{{product.price}}</span>
							<span class="list-control">数量：{{}}</span>
						</div>
					</li>
				</ul>
			</section>
		</article>
		<!--<aside>
			<section id="hotsale">
				<h1>我的商城</h1>
				<ul>
					<li><a href="#">个人信息</a></li>
					<li><a href="#">我的订单</a></li>
				</ul>
			</section>
		</aside>
		<div class="clear"></div>-->
	</div>
	<footer>
		<div class="container">
			<img src="images/footer.png" />
		</div>
		<p>版权所有：1998－2014 联想官网商城 │ 京ICP备11035381</p>
	</footer>
<script type="text/javascript" src="script/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="script/angular.min.js" ></script>
<script type="text/javascript" src="script/angular-cookies.min.js" ></script>
<script type="text/javascript" src="script/script.js"></script>
<script type="text/javascript">
</script>
</body>
</html>